<!DOCTYPE html>
<html>
  <head>
    <title>Flask by example :P</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <h1>To do...</h1>
          <br>
          <form role="form" method="POST" action="/">
            <div class="form-group">
              <input type="text" name="task" class="form-control" id="url-box" placeholder="Enter the task name..." style="max-width: 300px;">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <br>
          <br>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          {% if todos %}
            <h2>Todo</h2>
            <br>
            <div id="todos">
              <table class="table table-striped" style="max-width: 300px;">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                {% for t in todos%}
                  <tr>
                    <td>{{ t.name }}</td>
                    <td><a class="remove-task" data-id="{{t.id}}" href="#">remove</a></td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <br><br>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $('.remove-task').click(function(evt) {
        var id = $(this).attr("data-id");
        $.ajax({
          url: '/task/' + id,
          type: 'DELETE',
          success: function(result) {
            location.reload();
          }
        });
      });
    </script>
  </body>
</html>
